body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: lightgrey;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #000000;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th:nth-child(1) {
    width: 50%;
    height: 30px;
}

th:nth-child(2){
    width: 25%;
    height: 30px;
}

th:nth-child(3){
    width: 25%;
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

.sorted-col{
    background-color: #e0e0e0;
    font-weight: bold;
    color: #333
    text-align center;
}